<%- include("partials/header.ejs"); -%>
<!-- Article Section -->
<div id="article-section">
  <% articleList.reverse().forEach((article) => { %>
  <div id="article-card">
    <div class="container">
      <div>
        <h1><%= article.articleTitle %></h1>
      </div>
      <h6>
        <i class="fas fa-feather"></i> <%= article.articleAuthor %>&nbsp;
        <i class="far fa-calendar-alt"></i> <%=
        article.publishedAt.toDateString() %>
      </h6>
      <div class>
        <p><%= article.articleContent.substring(0, 250) + "..." %></p>
      </div>
      <a href="/t/<%= article._id %>">Read More...</a>
    </div>
  </div>
  <% }) %>
</div>
<!-- /Article Section -->
<%- include("partials/footer.ejs"); -%>
