<%- include("partials/header.ejs"); -%>
<!-- Article Section -->
<% articleList.reverse().forEach((article) => { %>
<div class="container">
  <img
    style="width: 20%"
    src="data:image/<%=article.imageCover.contentType%>;base64, 
<%=article.imageCover.data.toString('base64')%>"
    alt="image"
  />
  <h1><%= article.articleTitle %></h1>
  <h6>
    Author: <%= article.articleAuthor %> | Published at: <%=
    article.publishedAt.toDateString() %>
  </h6>
  <p><%= article.articleContent %></p>
</div>
<% }) %>
<!-- /Article Section -->
<%- include("partials/footer.ejs"); -%>
